initialize.sh
desktop-dev
scripts/get_hcp_secret.py
scripts/get_hcp_secret.sh
scripts/get_hcp_secret.test
sync.sh
../ca.cert
../ca.key
../ca.srl
../kube.registry.local.cert
../kube.registry.local.key
aws/
awscliv2.zip
