[Unit]
Description=Chasquid SMTP Server (standalone)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/chasquid -config_dir {{ CONFIG_DIR }}
Restart=always
RestartSec=5
User=chasquid
Group=chasquid

# 允许绑定低端口
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

# 安全限制
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
