hostname: "{{ HOSTNAME }}"
max_data_size_mb: 50
submission_address: ":587"
submission_over_tls_address: ":465"
monitoring_address: "127.0.0.1:1099"
data_dir: "{{ DATA_DIR }}"
suffix_separators: "+"
dovecot_auth: true

domain {
  name: "{{ DOMAIN }}"
  dkim_key: "{{ DKIM_KEY }}"
  maildir_base: "/var/mail"
}

smtp_address: []
