{
  "log": {
    "loglevel": "info"
  },
  "routing": {
    "rules": []
  },
  "inbounds": [
    {
      "listen": "127.0.0.1",
      "port": 51830,
      "protocol": "dokodemo-door",
      "settings": {
        "address": "{{ xray_remote_domain }}",
        "port": 51820,
        "network": "udp"
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ xray_remote_domain }}",
            "port": 1443,
            "users": [
              {
                "id": "{{ xray_uuid }}",
                "encryption": "none",
                "flow": "xtls-rprx-vision"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "serverName": "{{ xray_remote_domain }}",
          "allowInsecure": false,
          "fingerprint": "chrome"
        }
      },
      "tag": "proxy"
    },
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
