{{ alicloud_dns_sync_domain }}:
{% for rec in alicloud_dns_sync_records %}
  - rr: "{{ rec.rr }}"
    type: "{{ rec.type }}"
    value: "{{ rec.value }}"
    ttl: {{ rec.ttl | default(600) }}
{% endfor %}
