apiVersion: 1
providers:
  - name: 'gitops-dashboards'
    type: file
    disableDeletion: false
    allowUiUpdates: false
    updateIntervalSeconds: 30
    options:
      path: {{ grafana_root_dir }}/dashboards
      foldersFromFilesStructure: true
