[server]
http_addr = 0.0.0.0
http_port = 3000
domain = {{ grafana_domain }}
root_url = https://{{ grafana_domain }}/
serve_from_sub_path = false

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[auth]
disable_login_form = false
disable_signout_menu = false

[users]
allow_sign_up = false

[plugins]
enable_alpha = {{ grafana_plugins_enable_alpha | bool | lower }}
app_tls_skip_verify_insecure = {{ grafana_plugins_app_tls_skip_verify_insecure | bool | lower }}
allow_loading_unsigned_plugins = {{ grafana_allow_loading_unsigned_plugins | join(',') }}
