# 忽略 SSL 证书文件
ca.cert
ca.key
ca.srl
kube.registry.local.cert
kube.registry.local.key

# 忽略上级路径的复制残留
../../ca.cert
../../ca.key
../../ca.srl
../../kube.registry.local.cert
../../kube.registry.local.key

# 忽略压缩包
ssl_certificates.tar.gz

