[Unit]
Description=OpenTelemetry Collector
After=network.target network-online.target

[Service]
User=openobserve-agent
Group=openobserve-agent
ExecStart=/usr/local/bin/otelcol-contrib --config /etc/otel-config.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
