#!/bin/bash

INSTALL_K3S_SKIP_DOWNLOAD=true bash /usr/local/share/k3s/install.sh -s - --disable={{ cluster.server_disable }}   --token='{{ cluster.token }}'   --datastore-endpoint='{{ cluster.datastore_endpoint }}'   --system-default-registry '{{ cluster.registry }}'   --data-dir='{{ cluster.data_dir }}'   --kube-apiserver-arg '{{ cluster.apiserver_arg }}'   --bind-address='{{ cluster.bind_address }}'   --tls-san='{{ cluster.tls_san }}'   --advertise-address='{{ cluster.advertise_address }}'   --node-ip='{{ cluster.node_ip }}'   --node-external-ip '{{ cluster.node_external_ip }}'   --flannel-iface '{{ cluster.flannel_iface }}'   --cluster-cidr '{{ cluster.cluster_cidr }}'   --service-cidr '{{ cluster.service_cidr }}'
