#!/bin/bash

curl -sfL https://rancher-mirror.rancher.cn/k3s/k3s-install.sh |   INSTALL_K3S_MIRROR=cn   K3S_URL=https://{{ agent.k3s_url }}:6443   K3S_TOKEN={{ agent.server_token }}   INSTALL_K3S_EXEC="{{ agent.extra_vars }}" sh -
