terraform {
  backend "s3" {
    bucket         = "{{ backend.bucket }}"
    key            = "{{ backend.key }}"
    region         = "{{ backend.region }}"{% if backend.dynamodb_table %}
    dynamodb_table = "{{ backend.dynamodb_table }}"{% endif %}
  }
}
